*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cap{
    font-family: 'Dancing Script',cursive !important; 
}
.header{
background-image: url(/images/img1.webp);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.container .colr{
    color: #fff;
    font-size: 50px;
}
.row{
    width: 100%;
}
.btn{
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
}
.heading{
    background-color: #e2e3e5;
}
.trad{
    display: flex;
}
.north{
    display: flex;
}
.card1{
    height: 50px;
}
.container{
    display: flex;
    justify-content: center;
}
.images{
    width: 93% !important;
    margin-right: 20px !important;
}
.customer{
    background-color: #e2e3e5;
}
.client{
    display: flex;
}
.col-3{
    margin-left: 2rem;
}
p{
    width: 85%;
    margin-left: 30px;
}
.checked {
    color: orange;
}
.scl{
padding: 20px;
}
.social i{
    font-size: 25px;
    outline: none;
    border-radius: 50%;
    transition: width 0.5s;
    color: #fff;
}

.footers{
    display: flex;
    justify-content: space-around;
}
footer{
background-color: #003366;
}
.col-4 .image{
    margin-left: 10rem !important;
}